<!DOCTYPE html>

<html lang="en">
	<div>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- <base href="http://127.0.0.1:8000/main/" /> -->
			{% load staticfiles %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
			<!-- <link rel='stylesheet' type='text/css' href="{% static 'project_specific/css/base.css'%}"> -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

			{% block title %}{% endblock %}
		</head>

		
		<body>
			{% block navbar %}{% endblock %}
			<!-- <nav class="nvbar navbar-inverse navbar-default">
				<div class='container-fluid'>
					<div class='navbar-header'>
						<a class='navbar-brand' href="#">Switcheroo</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
							<li><a href="logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>

				<div class='container-fluid'>
			</nav>	 -->


				<div class='content-area'>
						{% block content %}<!-- default content text (typically empty) -->{% endblock %}

						
						{% block javascript %}{% endblock %}
				</div>
			</div>
			
		</body>
		
	</div>


</html>