<!DOCTYPE html>

<html lang="en">
	<div class='container'>
		<head>
			<meta charset="utf-8">
			<!-- <base href="http://127.0.0.1:8000/main/" /> -->
			{% load staticfiles %}
			<link rel='stylesheet' type='text/css' href="{% static 'project_specific/css/base.css'%}">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			{% block addons %}{% endblock %}
			{% block title %}{% endblock %}
		</head>

		<div cass='content-area'>
			<body>
				<nav>
					<ul>
						<li><a href="swap/">Swap Shift</a></li>
						{% block sidebar %}{% endblock %}
					</ul>	
				</nav>
			
				{% block content %}<!-- default content text (typically empty) -->{% endblock %}
				
				<form action="" method="post">
				{% csrf_token %}
				<input type="submit" name="logout" value="logout">
				</form>

				 
			</body>
		</div>
	</div>


</html>