{% extends "project_specific\base_generic.html" %}


{% block title %}
<title>Profile</title>
{% endblock %}

{% block sidebar %}
	
{% endblock %}

{% block content %}
	<p>Welcome!  {{ name }}</p>

	<table>
		<thead>
			<tr>
				<th width='14.286%'>Sun</th>
				<th width='14.286%'>Mon</th>
				<th width='14.286%'>Tues</th>
				<th width='14.286%'>Wed</th>
				<th width='14.286%'>Thurs</th>
				<th width='14.286%'>Fri</th>
				<th width='14.286%'>Sat</th>
			</tr>
		</thead>
		<div id='curYear'></div>
		<div id='curMonth'></div>
		<h1 id='monthAndYear'></h1>
		<tbody id='calendar-body'></tbody>	
	</table>

	<div class='flexbox'>
		<button id='previous' onclick='prev()'>Previous</button>
		<button id='next' onclick="next()">Next</button>
	</div>

	<div id='event-container'>
		<h1 id='event-date'></h1>
	<ul id='event-detail'></ul>
	</div>
	<button onclick="sendDate()">Swap</button>

	{{ dates|json_script:"shift_dates"}}
	{{ shift_start|json_script:"shift_start" }}
	{{ shift_end|json_script:"shift_end" }}
	
{% endblock %}

{% block javascript %}
	{% load staticfiles %}
	<script src="{% static 'project_specific/js/calendar.js'%}"></script>
	
{% endblock %}