{% extends "project_specific/base_generic.html" %}

{% block static %}
{% load staticfiles %}
<link rel='stylesheet' type='text/css' href="{% static 'project_specific/css/manager.css'%}">
{% endblock %}

{% block navbar %}
<nav class="nvbar navbar-inverse navbar-default">
	<div class='container-fluid'>
		<div class='navbar-header'>
			<a class='navbar-brand' href="/main/manager/">Switcheroo</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/main/manager/assign">Assign</a></li>
            <li><a href="/main/manager/view">View</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Setup<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/main/manager/people">People</a></li>
                <li><a href="/main/manager/schedule">Schedule</a></li>
              </ul>
            </li>
            <li><a href="/main/manager/settings">Setting</a></li>
        </ul>
        
		<ul class="nav navbar-nav navbar-right">
				<li><a href="/main/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>

	<div class='container-fluid'>
</nav>	
{% endblock %}