{% extends "project_specific/manager_base.html" %}


{% block title %}
<title>Main</title>
{% endblock %}

{% block content %}
<div id='pageDate'></div>

<div class='row'>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-2">
        <div width='100%'>
            <h1 id='monthAndYear' style="float:left;">
            </h1>
            <div class='btn-group ' id='calendar-button' role='group' style='float:right;'>
                <button id='previous' onclick='prev()' class='btn btn-secondary'>Prev</button>	
                <button id='next' onclick="next()" class='btn btn-secondary'>Next</button>
            </div>
        </div>
        
        
        <table class="table table-borderless table-responsive" id='calendar-table'>
            <thead>
                <tr>
                    <th width='14.286%' style='text-align: center'>Sun</th>
                    <th width='14.286%' style='text-align: center'>Mon</th>
                    <th width='14.286%' style='text-align: center'>Tues</th>
                    <th width='14.286%' style='text-align: center'>Wed</th>
                    <th width='14.286%' style='text-align: center'>Thurs</th>
                    <th width='14.286%' style='text-align: center'>Fri</th>
                    <th width='14.286%' style='text-align: center'>Sat</th>
                </tr>
            </thead>
            <tbody id='calendar-body'></tbody>	
        </table>	
    </div>
    
    <div id='today-summary' class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
    </div>

</div>

<div class='row'>
    <div class='col-xs-12 col-sm-6 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-2'>
        <h1>Swap Requests</h1>
    </div>

    <div class='col-xs-12 col-sm-6 col-md-5 col-lg-4'>
        <h1>Vacation Requests</h1>
    </div>

</div>

<div class="row">
    <div id='incoming-swap-requests' class='col-xs-12 col-sm-6 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-2'>
        
    </div>

    <div id='incoming-vacation-requests' class='col-xs-12 col-sm-6 col-md-5 col-lg-4'>
        
    </div>
</div>

{% endblock %}

{% block javascript %}
    {% load staticfiles %}
    <script src="{% static 'project_specific/js/manager_commonFunc.js'%}"></script>
    <script src="{% static 'project_specific/js/manager_calendar.js'%}"></script>
    <script src="{% static 'project_specific/js/manager_vacationFunctions.js'%}"></script>
    <script src="{% static 'project_specific/js/manager_fetchDisplay.js'%}"></script>
	<script src="{% static 'project_specific/js/daySummary.js'%}"></script>
	
{% endblock %}