html {
  background-image: url("light-leather-background.jpg");
  // background-repeat: no-repeat;
  background-size: cover;
}

#loginForm {
  background-color: white;
  margin-top: 25%;
  margin-bottom: 25%;
  padding: 30px 50px 50px 50px;
  border-radius: 25px;
}